* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}
.main01 {
  width: 100%;
  /* margin: 0 auto; */
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4) 55%,
      rgba(0, 0, 0, 0.4) 55%
    ),
    url(pexels-pixabay-276724.jpg);
}

.nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 150px;
}

.menuitems {
  display: flex;
  gap: 10px;
}

.menuitems li {
  list-style: none;
}

.mitems {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 13px;
  border: 2px solid #fff;

  transition: 0.4s ease-in;
}

.mitems:hover {
  background-color: #3d1b02;
  border: 1px solid #3d1b02;
}
.content {
  width: 60%;
  margin: 280px auto;
}
.mainheader {
  color: #fff;
}
.mainheader h1 {
  font-size: 70px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.2;
}

.mainheader p {
  font-size: 26px;
  letter-spacing: 2px;
  margin-bottom: 130px;
  text-align: center;
}
.buttons {
  text-align: center;
}
.btn {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  padding: 15px;
  border: 2px solid #fff;
  text-decoration: none;
  /* background-color: #3d1b02; */
  margin-right: 20px;
  transition: 0.4s ease-in;
}
.btn:hover {
  background-color: #3d1b02;
  border: 2px solid #3d1b02;
}
